body {
  /*font-family: Arial, Helvetica, sans-serif;*/
}

.top .choice {
  position: relative;
  height: 125px;
  width: 35px;
  min-width: 35px;
  max-width: 35px;
  vertical-align: top;
}

.choice .title {
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  text-align: left;

  display: block;
}

.top .choice .title {
  transform: rotate(-90deg);
  transform-origin:0px 0px;
  -ms-transform: rotate(-90deg);
  -ms-transform-origin:0px 0px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin:0px 0px;

  position: relative;
  height: 35px;
  width: 125px;
  left: 0px;
  top: 125px;
}

.top .choice .title .row {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}

.choice .title .col {
  margin-left: 5px;
  margin-right: 5px;
}

.result td {
  text-align: right;
}

.result .row0 {
  background-color: #EAEAEA;
}
.result .row1, .result .top .choice {
  background-color: #DDDDFF;
}

.config .group {
  margin: 3px;
}

.config .group select {
  min-height: 20px;
}

.config .group input[type="text"] {
  width: 230px;
  height: 15px;
}

.config .group input[type="submit"] {
  height: 20px;
}

.config .group select, .config .group input {
  width: 115px;
  font-size: 11px;
}

.result, .config {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

.result {
  margin-right: 10px;
}

.config {
  width: 240px;
}

.config .group .errorlist {
  margin: 0px;
  padding: 0px;
}

.config .group .errorlist li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;

  margin: 0px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 12px;
  font-weight: bold;
  
  background-color: #EE5555;
  border: solid 1px #AA3333;
}

.config .help ul {
  margin: 0px;
  padding-left: 25px;
  list-style-position: outside;
  list-style-type: disc;
  font-size: 13px;
}
