{% extends "toplevel.html" %}
{% load nsptags %}

{% block title %}NSP Probability reference{% endblock %}

{% block content %}
<form method="get" action="">
  <div>
    <div class="result">
      {% block result %}{% endblock %}
      {% block result_description %}{% endblock %}
    </div>

    <div class="config">
      {% for form in columnmanager.forms %}
      <div class="group">
        <div class="{% if forloop.first %}visible{% else %}ghost{% endif %}">
          {{ form.skill.label_tag }}
          {{ form.attribute.label_tag }}
        </div>
        
        <div>
          {{ form.skill }}
          {{ form.attribute }}
        </div>
      </div>
      {% endfor %}

      {% for form in customdiemanager.forms %}
      <div class="group">
        <div class="{% if forloop.first %}visible{% else %}ghost{% endif %}">
          <label for="{{ form.die.auto_id }}">Custom Dice</label>
        </div>

        <div>
          {{ form.die }}
        </div>
        <div>
          {{ form.non_field_errors }}
          {{ form.die.errors }}
        </div>
      </div>
      {% endfor %}

      <div class="group">
        <div class="visible">
          {{ modeform.mode.label_tag }}
        </div>
        <div>
          <span>{{ modeform.mode }}</span>
          <span><input type="submit" value="Submit"></span>
        </div>
      </div>

      <div class="help">
        <ul>
          <li>Custom dice are separated by whitespace.</li>
          <li>Dice: d4 2d6</li>
          <li>Die sequence: d4-d20</li>
          <li>Constant values: 5</li>
          <li>Dice used in sequences: d4 d6 d8 d10 d12 d20</li>
        </ul>
      </div>
    </div>
  </div>
</form>
{% endblock %}
