{% extends "toplevel.html" %}
{% load nsptags %}

{% block title %}NSP Probability reference{% endblock %}

{% block content %}
<form method="get" action="">
  <div>
    <div class="result">
      {% block result %}{% endblock %}
      {% block result_description %}{% endblock %}
    </div>

    <div class="config">
      {% for form in columnmanager.forms %}
      <div class="group">
        <span>{{ form.skill }}</span>
        <span>{{ form.pro }}</span>
      </div>
      {% endfor %}

      {% for form in customdiemanager.forms %}
      <div class="group">
        {{ form.die }}
        {{ form.non_field_errors }}
        {{ form.die.errors }}
      </div>
      {% endfor %}

      <div class="group">
        <span>{{ modeform.mode }}</span>
        <span><input type="submit" value="Submit"></span>
      </div>

      <div class="help">
        <ul>
          <li>Custom dice are separated by whitespace.</li>
          <li>Normal dice: d4 2d6</li>
          <li>Constant values: 5</li>
        </ul>
      </div>
    </div>
  </div>
</form>
{% endblock %}
