{% extends "probability_reference.html" %}
{% load nsptags %}

{% block title %}NSP Probability to reach target{% endblock %}

{% block result %}
{% if result %}
{% with forms=columnmanager.base_forms|add:customdiemanager.base_forms %}
<table>
  <tr class="top">
    <td></td>
    {% for form in forms %}
    <th class="choice" title="{{ form.details }}">
      <span class="title">
        <span class="row">{{ form.get_skill_display }}</span>
        <span class="row">{{ form.get_attribute_display }}</span>
      </span>
    </th>
    {% endfor %}
  </tr>

  {% for row in result %}
  <tr class="{% cycle 'row0' 'row1' %}">
    <th>{{ forloop.counter0 }}</th>
    {% for col in row %}
    <td title="{{ col|default_if_none:0|fmul:100|stringformat:"f" }}%">{{ col|fmul:100|stringformat:".0f" }}</td>
    {% endfor %}
    <th>{{ forloop.counter0 }}</th>
  </tr>
  {% endfor %}
</table>
{% endwith %}
{% endif %}
{% endblock %}
