{% extends "probability_reference.html" %}
{% load nsptags %}

{% block title %}Table over probability to reach target sum{% endblock %}

{% block result %}
{% if result %}
<h1>Table over probability to reach target sum</h1>
<table>
  <tr class="top">
    <td></td>
    {% for d in dice %}
    <th class="choice" title="{{ d.details }}">
      <span class="title">
        <span class="row">{{ d.pri }}</span>
        <span class="row">{{ d.sec }}</span>
      </span>
    </th>
    {% endfor %}
  </tr>

  {% for row in result %}
  <tr class="{% cycle 'row0' 'row1' %}">
    <th>{{ forloop.counter0 }}</th>
    {% for col in row %}
    <td title="{{ col|default_if_none:0|fmul:100|stringformat:"f" }}%">{{ col|fmul:100|stringformat:".0f" }}</td>
    {% endfor %}
    <th>{{ forloop.counter0 }}</th>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
