{% extends "probability_reference.html" %}
{% load nsptags %}

{% block title %}NSP Probability to beat opponent die{% endblock %}

{% block result %}
{% if result %}
<table>
  <tr class="top">
    <td></td>
    <td></td>
    {% for d in dice %}
    <th class="choice" title="{{ d.details }}">
      <span class="title">
        <span class="row">{{ d.pri }}</span>
        <span class="row">{{ d.sec }}</span>
      </span>
    </th>
    {% endfor %}
  </tr>

  {% for row, d in result|zip:dice %}
  <tr class="{% cycle 'row0' 'row1' %}">
    <th class="choice" title="{{ d.details }}">
      <span class="title">
        <span class="col">{{ d.pri }}</span>
      </span>
    </th>
    <th class="choice" title="{{ d.details }}">
      <span class="title">
        <span class="col">{{ d.sec }}</span>
      </span>
    </th>

    {% for col in row %}
    <td title="{{ col|default_if_none:0|fmul:100|stringformat:"f" }}%">{{ col|fmul:100|stringformat:".0f" }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
