{% extends "probability_reference.html" %}
{% load nsptags %}

{% block title %}NSP Probability to beat opponent die{% endblock %}

{% block result %}
{% if result %}
{% with forms=columnmanager.base_forms|add:customdiemanager.base_forms %}
<table>
  <tr class="top">
    <td></td>
    <td></td>
    {% for form in forms %}
    <th class="choice" title="{{ form.details }}">
      <span class="title">
        <span class="row">{{ form.get_skill_display }}</span>
        <span class="row">{{ form.get_pro_display }}</span>
      </span>
    </th>
    {% endfor %}
  </tr>

  {% for row, form in result|zip:forms %}
  <tr class="{% cycle 'row0' 'row1' %}">
    <th class="choice" title="{{ form.details }}">
      <span class="title">
        <span class="col">{{ form.get_skill_display }}</span>
      </span>
    </th>
    <th class="choice" title="{{ form.details }}">
      <span class="title">
        <span class="col">{{ form.get_pro_display }}</span>
      </span>
    </th>

    {% for col in row %}
    <td title="{{ col|default_if_none:0|fmul:100|stringformat:"f" }}%">{{ col|fmul:100|stringformat:".0f" }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endwith %}
{% endif %}
{% endblock %}

{% comment %}
{% block result_description %}
<span class="description">
  Table shows probability to reach target sum given different die
  configurations. 0% probability indicates a probability less than 0.5% while
  no probability at all indicates the target sum is impossible to reach. A
  probability of 100% indicates a probability greater than 99.5%.
</span>
{% endblock %}
{% endcomment %}
